body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  background-color: #d2b2b2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  background-color: #e9dddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 20px auto;
}